@import "tailwindcss";

/* Ativa explicitamente a variante dark baseada na classe .dark no elemento pai */
@custom-variant dark (&:where(.dark, .dark *));

/* Cores base (opcional) */
@theme {
  --color-background-light: #f4f6f9;
  --color-background-dark: #0f172a;
  --color-foreground-light: #1a1a2e;
  --color-foreground-dark: #f1f5f9;
}